@media (max-width: 1440px) {
  .container {
    max-width: 1292px;
  }

  .bg__grid-1920 {
    display: none;
  }

  .bg__grid-1440 {
    display: block;
  }

  .social__link:not(:last-child) {
    margin-right: 19px;
  }

  .footer__navbar {
    max-width: 868px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 970px;
  }

  .bg__grid-1440 {
    display: none;
  }

  .bg__grid-1024 {
    display: block;
  }

  .header__wrapper {
    flex-direction: column;
    padding: 26px 0px;
  }

  .header__logo {
    z-index: 5;
    margin: 0;
    margin-bottom: 15px;
  }

  .footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 37px 0;
  }

  .footer__navbar {
    width: 100%;
    max-width: none;
    margin-right: 0;
  }

  .footer__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .footer__copyright {
    align-self: center;
    margin: 0;
    margin-right: 46px;
  }

  .footer__social {
    transform: translateY(2px);
  }

  .social__link {
    transform: translateY(0px);
  }

  .social__link:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 708px;
  }

  .header__wrapper {
    flex-direction: row;
    padding-top: clamp(1.38rem, calc(0.11rem + 5.64vw), 2.81rem);
    padding-bottom: clamp(1.38rem, calc(0.22rem + 5.15vw), 2.69rem);
  }

  .header__logo {
    margin: 0;
    margin-right: 30px;
  }

  .header__hr {
    width: 100%;
    max-width: 316px;
    display: block;
    margin: 0;
    margin-right: 30px;
  }

  .header__wallet {
    display: block;
    z-index: 5;
    margin-right: 30px;
  }

  .header__burger {
    display: block;
  }

  .menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    right: -100%;
    top: 0px;
    background-color: var(--color-bg);
    visibility: hidden;
    will-change: transform;
    transition: transform 0.5s, visibility 0.5s;
    padding: 120px 50px 30px;
  }

  .menu__list {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  .menu__item {
    width: max-content;
    margin-bottom: 20px;
  }

  .menu__link {
    color: var(--color-white);
    font-family: "Unbounded";
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    align-self: flex-start;
    text-align: left;
    padding: 0px;
  }

  .header.open .menu {
    visibility: visible;
    transform: translateX(-100%);
  }

  .main-wrapper {
    margin-bottom: 61px;
  }

  .bg__grid-1024 {
    display: none;
  }

  .bg__grid-768 {
    display: block;
  }

  .menu {
    padding-left: 60px;
  }

  .card {
    padding-top: 48px;
  }

  .card__open-btn,
  .modal__close-btn {
    top: 8px;
    right: 8px;
    border-radius: 6px;
  }

  .card__scope {
    width: 20px;
    height: 20px;
  }

  .card__play,
  .card__cross {
    width: 17px;
    height: 17px;
  }

  .card__wrap,
  .card__label,
  .card__artist,
  .card__info {
    max-width: 504px;
  }

  .card__label {
    background-color: var(--color-black);
    padding: 23px 25px 10px;
    margin-top: 0px;
  }

  .card__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 13px;
  }

  .card__box-value {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .card__artist {
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 24px 28px;
  }

  .card__price {
    margin-right: 16px;
  }

  .card__bonus {
    margin-right: 8px;
  }

  .card__art {
    margin-bottom: 28px;
  }

  .card__btn {
    align-self: center;
    padding: 16px 46%;
  }

  .card__hr {
    display: none;
  }

  .card__info {
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 25px;
  }

  .card__text {
    padding-bottom: 23px;
  }

  .card__btn-back {
    padding: 15px 39px;
  }

  .footer__wrapper {
    justify-content: space-between;
    padding: 32px 0;
  }

  .footer__navbar {
    display: none;
  }

  .footer__copyright {
    margin: 0;
  }

  .social__link {
    transform: translateX(-1.5px);
  }

  .social__link:not(:last-child) {
    margin-right: 13px;
  }
}

@media (max-width: 500px) {
  .header__hr {
    display: none;
  }

  .main-wrapper {
    margin-top: 100px;
  }

  .menu {
    padding-left: 30px;
  }

  .card__scope {
    width: 18px;
    height: 18px;
  }

  .card__play,
  .card__cross {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 360px;
  }

  .bg__grid-768 {
    display: none;
  }

  .bg__grid-360 {
    display: block;
  }

  .header__hr {
    display: none;
  }

  .header__logo,
  .header__wallet {
    margin-right: 15px;
  }

  .header__wallet {
    transform: translateY(0px);
  }

  .header__burger {
    width: 24px;
    height: 24px;
    transform: translateY(-2px);
  }

  .header__burger span {
    width: 10px;
  }

  .main-wrapper {
    margin-top: 124px;
    margin-bottom: 46px;
  }

  .card {
    padding-top: 53px;
  }

  .card__label {
    padding: 27px 0px 10px 24px;
  }

  .card__price {
    margin-right: 18px;
  }

  .card__bonus {
    margin-right: 10px;
  }

  .card__data-bonus {
    margin-left: 0;
  }

  .card__logo-bonus {
    margin-left: 0;
  }

  .card__btn {
    padding: 16px 43%;
  }

  .card__text {
    padding-bottom: 23px;
  }

  .card__btn-back {
    padding: 15px 13%;
  }
}
