html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
ol,
ul,
li,
button {
  color: inherit;
  text-decoration: none;
  list-style: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

p,
ul,
button {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

h1,
h2,
h3 {
  color: var(--color-white);
  padding: 0;
  margin: 0;
}

video {
  cursor: pointer;
}

:root {
  --color-bg: rgb(9, 15, 29);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-black-transparency: rgba(0, 0, 0, 0.7);
  --color-grey: rgba(255, 255, 253, 0.72);
  --color-paragraph: rgba(255, 255, 253, 0.6);
  --color-lime: rgb(214, 239, 14);
  --color-line: rgba(14, 171, 239, 0.5);
  --color-btn: rgb(9, 15, 29);
  --color-btn-hover: rgba(214, 239, 14, 0.7);
  --color-modal-menu: rgb(138, 43, 226);
  --color-bg-card: rgb(15, 24, 46);
  --color-hr: rgba(255, 255, 255, 0.4);
}

body {
  width: 100%;
  font-family: "Unbounded", "Roboto", "Inter", sans-serif;
  font-size: 16px;
  background-color: var(--color-bg);
  overflow-x: hidden;
}

.body-wrapper {
  width: 100%;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1340px; /* 1280px + 30px + 30px */
  padding: 0 30px;
  margin: 0 auto;
}

/* header ************************* */
.header {
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 43px;
}

.header__logo {
  width: 180px;
  height: 33px;
  z-index: 5;
  margin-right: 59px;
}

.header__logo-img {
  max-width: 180px;
}

.header__hr {
  width: 100%;
  display: none;
  color: var(--color-hr);
  background-color: var(--color-hr);
}

.header__wallet {
  width: 24px;
  height: 24px;
  display: none;
  color: var(--color-lime);
  transform: translateY(2px);
  z-index: 5;

  &:focus {
    color: var(--color-lime);
  }
  &:hover {
    color: var(--color-white);
  }
  &:active {
    color: var(--color-lime);
  }
}

.menu {
  width: 100%;
}

.menu__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu__link {
  color: var(--color-grey);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  transition: color 0.3s;
  border-bottom: 2px solid transparent;

  &:focus {
    color: var(--color-white);
    border-bottom: 2px solid var(--color-lime);
  }
  &:hover {
    color: var(--color-white);
    border-bottom: 2px solid var(--color-lime);
  }
  &:active {
    color: var(--color-white);
    border-bottom: 2px solid var(--color-lime);
  }
}

/* burger ******************* */
.header__burger {
  width: 24px;
  min-width: 24px;
  height: 24px;
  display: none;
  position: relative;
  background-color: transparent;
  border: 2px solid var(--color-lime);
  outline: none;
  z-index: 5;

  &:focus {
    border-color: var(--color-lime);
  }
  &:hover {
    border-color: var(--color-white);
  }
  &:active {
    border-color: var(--color-lime);
  }
}

.header__burger span {
  width: 10px;
  height: 2px;
  display: block;
  position: absolute;
  top: 9px;
  left: 5px;
  background-color: var(--color-lime);
  will-change: transform;
  transition: background-color 0.3s, opacity 0.3s, transform 0.5s;
}

.header__burger span:nth-child(1) {
  transform: translateY(-5.5px);
}

.header__burger span:nth-child(2) {
  transform: translateY(-0.3px);
}

.header__burger span:nth-child(3) {
  transform: translateY(5px);
}

.header__burger:focus span {
  background-color: var(--color-lime);
}

.header__burger:hover span {
  background-color: var(--color-white);
}

.header__burger:active span {
  background-color: var(--color-lime);
}

/* Крестик ************************* */
.header.open .header__burger span {
  background-color: var(--color-lime);
}

.header.open .header__burger:focus span {
  background-color: var(--color-lime);
}

.header.open .header__burger:hover span {
  background-color: var(--color-white);
}

.header.open .header__burger:active span {
  background-color: var(--color-lime);
}

.header.open .header__burger span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

/* section main *******************   */
.main {
  width: 100%;
  min-height: calc(100svh - 150px);
}

.main-wrapper {
  position: relative;
  margin-top: 128px;
  margin-bottom: 73px;
}

.bg__grid {
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
  opacity: 0.4;
  z-index: 0;
  margin: 0px auto;
}

.bg__grid-1920 {
  max-width: 1600px;
  height: 647px;
  background-image: url(../img/svg/bg-grid-1920.svg);
  background-repeat: no-repeat;
}

.bg__grid-1440 {
  max-width: 1232px;
  height: 647px;
  display: none;
  background-image: url(../img/svg/bg-grid-1440.svg);
  background-repeat: no-repeat;
}

.bg__grid-1024 {
  max-width: 924px;
  height: 647px;
  display: none;
  background-image: url(../img/svg/bg-grid-1024.svg);
  background-repeat: no-repeat;
}

.bg__grid-768 {
  max-width: 648px;
  height: 492px;
  display: none;
  background-image: url(../img/svg/bg-grid-768.svg);
  background-repeat: no-repeat;
}

.bg__grid-360 {
  max-width: 340px;
  height: 492px;
  display: none;
  background-image: url(../img/svg/bg-grid-360.svg);
  background-repeat: no-repeat;
}

.bg__blur-1 {
  width: 100%;
  max-width: 1200px;
  height: 1200px;
  background-image: url(../img/svg/blur-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg__blur-2 {
  width: 100%;
  max-width: 900px;
  height: 800px;
  background-image: url(../img/svg/blur-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 500px;
  left: 150px;
  z-index: -1;
}

/* section card ******************* */
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 56px;
}

.card__wrap {
  width: 100%;
  max-width: 798px;
  position: relative;
}

.card__box-video,
.card__box-picture {
  position: relative;
}

.card__picture-video,
.card__picture-img {
  max-width: max-content;
}

.card__img {
  width: 100%;
  max-width: 798px;
  border-radius: 16px 16px 0 0;
  margin: 0 auto;
}

.card__open-btn,
.modal__close-btn {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--color-black-transparency);
  border: none;
  border-radius: 9px;
}

.modal__close-btn {
  z-index: 1;
}

.card__scope,
.card__play,
.card__cross {
  box-sizing: content-box;
  color: var(--color-lime);
  transition: color 0.3s;

  &:focus {
    color: var(--color-lime);
  }
  &:hover {
    color: var(--color-white);
  }
  &:active {
    color: var(--color-lime);
  }
}

.card__scope {
  width: 24px;
  height: 24px;
  padding: clamp(
    0.36rem,
    calc(0.14rem + 0.95vw),
    0.75rem
  ); /* max-12px, min-5.7px */
}
.card__play,
.card__cross {
  width: 20px;
  height: 20px;
  transform: translateX(0.5px);
  padding: clamp(
    0.5rem,
    calc(0.26rem + 1.05vw),
    0.94rem
  ); /* max-15px, min-8px */
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg);
  overflow-y: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
  z-index: 5;
}

.modal__box {
  width: 100%;
  max-width: calc(100svw - 20px);
  height: auto;
  max-height: calc(100svh - 20px);
  transform: scale(0);
  transition: transform 0.8s;
  z-index: 1;
}

.modal__card-video,
.modal__card-img {
  width: 100%;
  height: auto;
  max-width: inherit;
  max-height: inherit;
  object-fit: cover;
  position: relative;
  border-radius: 16px;
  margin: 0 auto;
}

.modal__img {
  max-width: calc(100svw - 20px);
  height: auto;
  max-height: calc(100svh - 20px);
  border-radius: 16px;
  object-fit: contain;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal__box {
  transform: scale(1);
}

.disable-scroll {
  height: 100%;
  position: fixed;
  overflow: hidden;
}

.card__label {
  width: 100%;
  max-width: 798px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  padding: 20px 0px 20px 40px;
  margin-top: -109px;
}

.card__title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  text-align: left;
  color: var(--color-white);
  margin-bottom: 10px;
}

.box-price,
.box-bonus {
  display: inline-block;
}

.card__price,
.card__data,
.card__bonus,
.card__data-bonus,
.card__logo-bonus {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
}

.card__price {
  color: var(--color-white);
  margin-right: 6px;
}

.card__bonus {
  color: var(--color-white);
  margin-right: 5px;
}

.card__data,
.card__data-bonus,
.card__logo-bonus {
  color: var(--color-lime);
}

.card__logo {
  width: 9px;
  height: 16px;
  display: inline-block;
  transform: translateY(-2px);
  margin-right: 21px;
}

.card__artist {
  width: 100%;
  max-width: 798px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-black);
  z-index: 0;
  padding: 32px 40px 23px;
}

.card__art {
  display: grid;
  grid-template-areas:
    "img prof"
    "img name";
  transition: color 0.3s;
}

.card__photo {
  grid-area: img;
}

.card__photo-img {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  margin-right: 12px;
}

.card__box-prof {
  grid-area: prof;
  font-family: inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-align: left;
  color: var(--color-white);
  transition: color 0.3s;
}

.card__box-name {
  grid-area: name;
  font-family: inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: left;
  color: var(--color-white);
  transition: color 0.3s;
}

.card__art:hover > p {
  color: var(--color-lime);
}

.card__btn {
  font-family: inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: var(--color-btn);
  background-color: var(--color-lime);
  border-radius: 8px;
  transition: color 0.3s;
  padding: 16px 24px;

  &:hover {
    box-shadow: 0 0 10px 0.5px var(--color-lime);
  }
}

.card__info {
  width: 100%;
  max-width: 798px;
  background-color: var(--color-black);
  border-radius: 0 0 16px 16px;
  padding: 0 40px;
  margin-bottom: 49px;
}

.card__hr {
  width: 100%;
  max-width: 718px;
  border-color: var(--color-lime);
  margin-bottom: 30px;
}

.card__text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  color: rgb(165, 173, 192);
  padding-bottom: 33px;
}

.card__btn-back {
  font-family: inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-align: right;
  background-color: transparent;
  color: var(--color-lime);
  border: 1px solid var(--color-lime);
  border-radius: 8px;
  transition: color 0.3s;
  padding: 15px 24px;

  &:focus {
    box-shadow: 0 0 10px 0.5px var(--color-btn-hover);
    text-shadow: 0.5px 0.5px 0.5px var(--color-btn-hover);
  }
  &:hover {
    box-shadow: 0 0 10px 0.5px var(--color-btn-hover);
    text-shadow: 0.5px 0.5px 0.5px var(--color-btn-hover);
  }
  &:active {
    box-shadow: none;
    text-shadow: none;
  }
}

.card__img-arrow {
  margin-right: 20px;
}

/* footer ******************* */
.footer {
  position: relative;
  border-top: 1px solid var(--color-line);
}

.footer__blur-1 {
  width: 100%;
  max-width: 1080px;
  height: 600px;
  background-image: url(../img/svg/bgf-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 0 auto;
}

.footer__blur-2 {
  width: 100%;
  max-width: 900px;
  height: 630px;
  background-image: url(../img/svg/bgf-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 0 auto;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 49px 0 74px;
}

.footer__navbar {
  width: 100%;
  max-width: 911px;
}

.footer__link {
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  border-bottom: 2px solid transparent;
  transition: color 0.3s;

  &:focus {
    color: var(--color-white);
    border-bottom: 2px solid var(--color-lime);
  }
  &:hover {
    color: var(--color-white);
    border-bottom: 2px solid var(--color-lime);
  }
  &:active {
    color: var(--color-white);
    border-bottom: 2px solid var(--color-lime);
  }
}

.footer__copyright {
  font-family: "Roboto", sans-serif;
  color: var(--color-lime);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0 1em;
}

.footer__social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.social__link {
  color: var(--color-white);
  transform: translateY(2px);

  &:not(:last-child) {
    margin-right: 16px;
  }
  &:focus {
    color: var(--color-white);
  }
  &:hover {
    color: var(--color-lime);
  }
  &:active {
    color: var(--color-white);
  }
}
